
.container{
    display: grid;
    border: none;
    grid-template-columns: repeat(3,row);
    grid-template-columns: 30% 30% 30%;
    /* margin: 20px; */
    column-rule: 18%;
    margin: auto;
    grid-gap: 60px;
}
.row{
    

    
    text-align: center;
    overflow: hidden;
    border: 2px solid lightgray;
    border-radius: 10px;
    background-color: white;  
    padding-bottom: 1em;
    grid-gap: 20px;
    

}
.button{
    background-color: crimson;
    color: ghostwhite;
    width: 60%;
    height: 50px;
    font-size: 1.2rem;
}
    
    

