.NavbarItems{
    background: gray;
    height:80px;
    display: flex;
    justify-content: centre;
    align-items: centre;
    font-size: 1.2rem;
}
.navbar-logo{
color:white;
justify-self: start;
margin-left: 20px;
cursor: pointer;
}
.nav-menu{
    display: grid;
    grid-template-columns: repeat(5,auto);
    grid-gap: 10px;
    list-style: none;
    text-align: center;
    width: 70vw;
    justify-content: end;
    margin-right: 20rem;
    
}
.nav-links{
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;

}
.nav-links:hover{
background-color: teal;
border-radius: 4px;
transition: all 0.2s ease-out;
}
.nav-button{
    background-color: cyan;
}

